<!-- Tabs with dropdowns start -->
<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Today's Tasks <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <a href="#">Completed tasks</a>
      <a href="#">Uncompleted tasks</a>
    </ul>
  </li>
</ul>
<!-- Tabs with dropdowns end -->

<ol class="breadcrumb">
  <li><a href="#">All</a></li>
  <li><a href="#">High Priority</a></li>
  <li><a href="#">Low Priority</li></a>
</ol>

<div class="container">
<h1>To Do List</h1>
<h2>Progress is <%= @progress %></h2>

<div class="progress progress-striped active">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress %>;">
    <span class="sr-only"><%= @progress %></span>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Complete</th>
      <th>Due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
  <tbody>
    <% @todo_items.each do |todo_item| %>
        <tr>
        <td><%= todo_item.task %></td>
        <td><%= todo_item.description %></td>
        <td><%= todo_item.complete %></td>
        <td><%= todo_item.due %></td>
        <td><%= link_to 'Show', todo_item %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo item', new_todo_item_path %>

<h3>Summary</h3>
<p>Number of completed items is <%= @completed_items %></p>
<p>Number of all items is <%= @all_items %></p>


</div>

