<div class="container">
<h1>To Do List</h1>
<h2>Progress is <%= @progress %></h2>

<div class="progress progress-striped active">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress %>;">
    <span class="sr-only"><%= @progress %></span>
  </div>
</div>

<blockquote>
<p class="lead">Parkinson's Law: A task will swell in (perceived) importance and complexity in relation to the time allotted for its completion.</p>
<footer class="pull-right">Tim Ferris in Four Hour Work Week</footer>
</blockquote>
<br>
<br>
<p class="text-center">
  <button type="button" class="btn btn-success btn-lg">
    <%= link_to 'New Todo item', new_todo_item_path %>
  </button>
</p>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Complete</th>
      <th>Due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
  <tbody>
    <% @todo_items.each do |todo_item| %>
        <tr>
        <td><%= todo_item.task %></td>
        <td><%= todo_item.description %></td>
        <td><%= todo_item.complete %></td>
        <td><%= todo_item.due %></td>
        <td><%= link_to 'Show', todo_item %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Delete', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
<h3><small>Summary</small></h3>
<p><small>You've completed <%= @completed_items %> items. Number of total tasks is <%= @all_items %>.</small></p>
<p>Your tasks due today are: <% @high_priority.each do |task| %>
  <%= task %>, 
  <% end %>
</p>
</div>

</div>